/* You can add global styles to this file, and also import other style files */
body{
    height: 100vh;
    background-color: #f6f6f6;
    font-size: 13.5px;
}

.ng-sidebar{
    background: white;
    width: 14rem;
    /* margin-top: 50px; */
    margin-bottom: 10px;
}


p-toolbar{
    margin-left: 0px;
}

.online{
    font-size: 1em;
}
.status{
    margin-left: 65px;
    margin-bottom: 20px;
    margin-top: 15px;
}